/******************************************************************************************************************************************/

/* Body */

body{
    background-color: lightgray;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
      "header header"
      "menu main"
      "footer footer";
    
  }

/******************************************************************************************************************************************/

/* Header */

header {
  grid-area: header;
  background-color: darkslateblue;
  color: white;
  display: grid;
  justify-content: center;

}

/******************************************************************************************************************************************/

/* Menu */

menu {
  grid-area: menu;
  width: 13vw;
  height: 88vh;
  margin: 0;
  gap: 10px;
}

.box_categorias{
    display: flex;
    align-items: center;
    width: auto;
    height: 3vh;
    
}

.box_categorias a{
    
    text-decoration: none;
    color: black;
    padding-right: 3%;
}

.box_categorias  p{
    color: gray;
}

/******************************************************************************************************************************************/

/* Main */

main {
  grid-area: main;
  width: 83vw;
  gap: 10px;
  padding-top: 10px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.box_card{
    width: 23vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box_card img{
    width: 21vw;
    height: 30vh;
}

.box_card h3{
  margin: 0;
}

.box_card button{
  width: 100%;
  height: 45px;
  background-color: darkslateblue;
  color: white;
}

/******************************************************************************************************************************************/

/* Footer */

footer {
  grid-area: footer;
  padding-top: 3px;
  background-color: white;
  display: grid;
  justify-content: center;

}


